body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  font-weight: 600;
}

.terms-overlay {
  background-color: rgba(121, 105, 105, 0.3);
  height: 100vh;
  width: 100vw;
  z-index: 200;
  position: fixed;
  display: block;
  display: flex;
  justify-content: center;
  align-items: center;
}
.terms {
  background-color: white;
  height: 70vh;
  width: 30vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
}

.terms-text {
  background-color: whitesmoke;
  height: 90vh;
  width: 30vw;
  overflow-y: scroll;
}
.terms-buttons {
  height: 10vh;
  width: 30vw;
  display: flex;
  justify-content: center;
  align-items: center;
}

.accept-terms {
  background-color: dodgerblue;
  margin: 10px 10px;
  padding: 10px;
  color: black;
  text-decoration: none;
}

.accept-terms:hover {
  background-color: rgb(110, 190, 214);
}
.navbar {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.menu {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.menu-item {
  margin: 0px 5px;
  font-weight: 600;
  color: black;
  text-decoration: none;
}
.menu-item:hover {
  text-decoration: underline;
}
.login {
  background-color: tomato;
  border-radius: 20px;
  padding: 8px;
  text-decoration: none;
  color: seashell;
  border: 0;
}
.login:hover {
  background-color: red;
}

.signup:hover {
  background-color: grey;
}

.signup {
  background-color: gainsboro;
  border-radius: 30px;
  padding: 8px;
  text-decoration: none;
  color: black;
  border: 0;
  cursor: pointer;
}
.content {
  display: flex;
  height: 1000px;
  margin: 0px 30px;
}

.column {
  display: flex;
  flex-direction: column;
  width: calc(100% / 7);
  height: 100%;
  margin: 0 5px;
}

.image {
  width: 100%;
  height: calc(100% / 4);
  background-color: salmon;
  border-radius: 15%;
  margin: 5px 0px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 12px;
  max-height: 5vh;
}

.footer-item {
  color: black;
  text-decoration: none;
  padding: 5px;
  font-size: 12px;
  font-weight: 500;
}

.footer-item:hover {
  text-decoration: underline;
}

.overlay {
  background-color: rgba(121, 105, 105, 0.3);
  height: 100vh;
  width: 100vw;
  z-index: 200;
  position: fixed;
  display: none;
}
